page-topic {
    .star{
        width: 30px;
    }

    .div_star{
        background-color: white;
    }
    
    .starbar{
        padding: 5px;
        margin: 5px;
    }

    #ytp-chrome-top-buttons{
        display: hide;
    }
}
