<div class="contenedor">
	<canvas height="90px" style="background-color: #FFF !important; border-radius: 4%; width: 100%;" #canvas></canvas>
	<ion-grid>
	  <ion-row class="cont">
	    <ion-col>
	    	<div class="col-a">
    			7 &Uacute;lt. D&Iacute;as:<br>Yo
    		</div>
    		<div class="col-b">
    			<span>{{data.prom_user}} <span class="span2">Pasos</span></span>
    		</div>
		</ion-col>
	    <ion-col col-1 col-text-center no-padding>
	    	<img src="./assets/imgs/pasos.png">
		</ion-col>
	    <ion-col>
	    	<div class="col-a">
    			Promedio:<br>{{data.nameAnalitycs}}
    		</div>
    		<div class="col-b">
    			<span>{{data.prom}} <span class="span2">Pasos</span></span>
    		</div>
		</ion-col>
	  </ion-row>
	</ion-grid>
<div>