page-results {

    .backQuiz {
        background: url("./assets/Fondoquiz.jpg");
        background-color: skyblue;
        background-size: 100% 100%;
        height: 100vh;
        color: white;
    } 
    .select-icon-inner{
        color: white !important;
    }
	
	

}

page-quiz {
    .item-cover {
	
		display: none;
	}
}