<ion-card color="card-background" no-padding no-margin [ngStyle]="{'width': '100%', 'margin-top': '15px','background-color': '#EFEDF0'}" class="animated fadeIn">
    <ion-grid (click)="goToPage('news')" style="margin-bottom: 20px;">
      <ion-row col-12 align-items-center [ngStyle]="{'padding-top': '10px'}">
        <span col-12 no-padding class="big-font make-bold" [ngStyle]="{'margin-bottom': '10px', 'text-transform': 'uppercase'}" text-center>{{label.news}}<ion-spinner *ngIf="!ready" style="width: 1.6rem; height: 1.6rem; margin-left: 15px;" name="circles"></ion-spinner></span>
      </ion-row>
      <ion-row class="caption" style="height: 25vh;bottom: 40px;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      background-image: url('./assets/imgs/new.png'); margin-right: 5%; margin-left: 5%; padding-top: 10%; text-align: -webkit-center;">
        <div col-12 style="top: 15%; font-size: 1.5em; width: 100%; font-weight: bold; color: #fff;">{{label.description}}</div>
        <hr align-self-center style="border: 0; border-top: 1px solid #999; border-bottom: 3px solid #fff; height: 0; width: 100%; margin-top: 10px; margin-bottom: 10px; margin-right: 5%; margin-left: 5%;"> 
      </ion-row>
    </ion-grid>
  </ion-card>